h1  {color: blue;
    font-size: 36px;
    position: relative;
}
h2  {color: blueviolet;
}
p   {background-color: aquamarine;
    border-radius: 3px;
    border-style: solid;
    border-color: blue;
    }
    